version: "3.9"

services:
  web:
    build: .
    image: jyotiprakashb23/django-demo-setup:latest 
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
      - media_volume:/app/media
    depends_on:
      - db
    environment:
      RUNNING_IN_DOCKER: 'true'
    env_file:
      - .env

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: django_db
      POSTGRES_USER: django_user
      POSTGRES_PASSWORD: django_pass
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
  media_volume:
